
body {
  background-color: #8FBDD3;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #E4DCCF;
  border-width: 7px;
width: 5%;}

h1 {color: #1A1A40;}
h3 {color: #655D8A;}
